<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
</head>
<body>

    <h2>{{titulo}}</h2>

    <a href=" {% url 'crearCuota' %} ">
        <button>Agregar Pago</button>
    </a>
    <a href=" {% url 'HomePage' %} ">
        <button>Volver</button>
    </a>
    
    <ul>
        <table>
                <tr>
                    <th>Alumno</th>
                    <th>Emisión</th>
                    <th>Fecha de Pago</th>
                    <th>Importe</th>
                    <th>Nº Comprobante</th>
                </tr>        
                {% for cuota in cuotas %}
                    <tr>
            
                        <td>{{cuota.alumno}}</td>
                        <td>{{cuota.emision}}</td>
                        <td>{{cuota.pago}}</td>
                        <td>{{cuota.alumno.plan.importe}}</td>
                        <td>{{cuota.id}}</td>

                    </tr>
                {% endfor %}    
        </table>
    </ul>
</body>
</html>